
* {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 0px;

}

/* Add a background color to the top navigation */
.Top_Navigation {
  position: relative;
  background-color: rgb(83, 206, 255);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.Top_Navigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.Top_Navigation a:hover {
  background-color: rgb(145, 241, 107);
  color: rgb(39, 106, 248);
}

/* Centered section inside the top navigation */
.Top_Navigation .center {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.Top_Navigation .right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .Top_Navigation a, .Top_Navigation .right {
    float: none;
    display: block;
  }

  .Top_Navigation a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}



h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
h3 {
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: strong;
}
a[href*='kristina-abrahamyan'] {
  color: rgb(255, 255, 0);
}
a:hover {
  color: rgb(39, 240, 140);
}
#Educational_Background {
    background-color: rgba(192, 192, 192, 0.137); 
    font-weight: normal;
    margin-block-start: 0;
    margin-block-end: 0;
    margin:0;
    margin-top: 0;
    margin-bottom: 0;
}
#Professional_Experience {
    background-color: rgb(224, 207, 240); 
    margin-block-start: 0;
    margin-block-end: 0;
    margin:0;
    margin-top: 0;
    margin-bottom: 0;
}
#My_Skills {
    background-color: rgba(192, 192, 192, 0.137); 
    margin-block-start: 0;
    margin-block-end: 0;
    margin:0;
    margin-top: 0;
    margin-bottom: 0;
}
#Languages {
    background-color: rgb(224, 207, 240); 
    margin-block-start: 0;
    margin-block-end: 0;
    margin:0;
    margin-top: 0;
    margin-bottom: 0;
}
#Interesting_Facts_About_Me {
    background-color: rgba(192, 192, 192, 0.137); 
    margin-block-start: 0;
    margin-block-end: 0;
    margin:0;
    margin-top: 0;
    margin-bottom: 0;
}
#Extracurricular_Activities {
    background-color: rgb(224, 207, 240); 
    margin-block-start: 0;
    margin-block-end: 0;
    margin:0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
#Video {
    background-color: rgba(192, 192, 192, 0.137); 
    margin-block-start: 0;
    margin-block-end: 0;
    margin:0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
#Contact_Me {
    background-color: rgb(224, 207, 240); 
    margin-block-start: 0;
    margin-block-end: 0;
    margin:0;
    margin-top: 0;
    margin-bottom: 0;
}

.About p,
.About h3 {
    font-weight: normal;
    color: rgb(255, 255, 255);
    /* text-align: center; */
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}
/* .About li {
    font-weight: normal;
    color: rgb(226, 226, 226);
    text-align: center
} */

html,
body{
    margin:0px ;
    padding:0px;
    border:0px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.About {
    background-image: url("London.png");
    background-size:cover; 
    background-repeat:no-repeat;
    margin:0;
    padding:0;
    height:100vh;
    width:100%;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 0 !important;
    margin-bottom: 0;
}

.Intro_block{
    font-size: 20pt;
    /* position: relative;
    left: 100px; */
    padding: 30px;
    width: auto;
    height:auto;
    max-width: 600px;
    /* margin: 0 auto; */
    margin-bottom:0;
}

.languages_list .English, 
.languages_list .Spanish,
.languages_list .Armenian,
.languages_list .Russian,
.languages_list .French {
    border:3px solid white;
    border-radius: 50%;
    height:auto;
    width: 140px;
    margin: 0 auto;
    text-align: center;
}
/* #Awards{
    float:left ;
    width: 33.33% ;
    padding: 5px ;
}
.Certificates::after {
    content: "" ;
    clear: both ;
    display: table ;
} */

#Extracurricular_Activities #Certificates {
    color: red;
}
.block p.description {
    color:rgb(99, 99, 99);
    margin-top: 0;
}
.block h3 {
    margin-bottom: 0;
}
.block {
  margin-top:0;
  margin-right: 170px;
  margin-left: 170px;
}
